/* img
{
    height: 30%;
} */
.oneTopAlbumDiv{
    position: relative;
    top: 0;
    left: 0;
    height: 37vh;
}
 .cover_TopAlbum{
    margin-top: 20px;
    max-height: 23vh;
    border-radius: 10%;
}

/* .artistAndLength{
    margin-top: 0;
} */