.containerOneSong{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}
.oneSong{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgb(21, 177, 112);
    border-radius: 35px;
    background-color: rgb(66, 77, 66);
    padding:5px;
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.75);
    color: white;
    width: 90vw;
    height: 14vh;
    margin:10px;
}
a{
    color: white;
}
.allSongsTitleP{
    position: relative;
    left: 0;
    width: 20vw;
    justify-content: left;
}
.allSongsArtistImg{
    border-radius: 50%;
    height: 10vh;
    width: 5vw;
}
.allSongsArtistP{
    display: flex;
    flex-direction:column;
}
.allSongsAlbumImg{
    border-radius: 50%;
    height: 10vh;
    width: 5vw;
}
.allSongsAlbumP{
    display: flex;
    flex-direction:column;
}
.allSongsAlbumName{
    position: relative;
    left: 0;
    width: 10vw;
}
