.imgOnePlaylistPageDiv{
    text-align: center;
    align-items: center;
}
.imgOnePlaylistPage{
    margin-top: 20px;
    border-radius: 50%;
    height: 30vh;
    width: 15vw;
    border: 3px solid rgb(165, 158, 158);
    box-shadow: 0px 0px 3px 4px rgba(218, 209, 209, 0.75);
}