.headerDiv{
    height: 10vh;
    width: 100vw;
    position: sticky;
    top: 0;
    display: flex;
    background-color: #09196E;
    align-items: center;
    border-bottom:3px solid black;
    opacity:0.9;
}
.link{
    background-color:#5664AF;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 8px; 
    margin-left: 10px;
    color: white;
}