.headerDiv{
    height: 10vh;
    width: 100vw;
    position: sticky;
    top: 0;
    display: flex;
    background-color:black;
    align-items: center;
    border-bottom:1px solid rgb(21, 177, 112);
    z-index: 1000;
}
.link{
    background-color:rgb(21, 177, 112);
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 8px; 
    margin-left: 10px;
    color: white;
}