.oneTopArtistDiv{
    position: relative;
    top: 0;
    left: 0;
    height: 42vh;
}
 .imgTopArtist{
    height: 25vh;
    width: 15vw;
    border-radius: 10%;   
    box-shadow: 0px 0px 3px 2px rgba(218, 209, 209, 0.75);
    margin-top: 5px;
}